body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    box-sizing: border-box;
}

.container{
    padding: 30px 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 22px 22px 10px 35px;
    background: linear-gradient(#1F2937, #10B981);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.heading{
    margin: 10px 0px 0px 0px;
    padding-bottom: 25px; 
    font-size: 35px;
}

.heading-part1{
    color: white;
    margin: 0px; 
}
.heading-part2{   
    color: #4ADF86;
    margin-top: 0px;
}

.supporting-text{
    color: #D5D4D8;
    font-size: 30px;
    line-height: 28px;
    margin-top: -18px;
    font-weight: 400;
}

.setting{
     margin-top:-15px ;
}
.passwordSetting{
    color: #D5D4D8;
    margin: 5px 0px;
    font-size: 25px;
}

#passwordLength{
    margin-left: 20px;
    outline: none;
}

#symbols, #numbers{
    margin: 20px 10px;
}


#pass-btn{
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: white;
    background: #10B981;
    border-radius: 4px; 
    padding: 8px 12px;
    margin-top: 10px; 
    outline: none;
    cursor: pointer;
}

.password-boxes{
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap; 
    width: 60vw;
    padding-top: 20px;
    border-top: 1px solid #273549;

}


.pbox{
    min-width: 400px;
    height: 34px;
    border: none;
    padding: 5px 8px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;  
    margin: 0px 20px 20px 0px; 
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    text-align: center;
    outline: none;
}



footer{
    text-align: center;
    color: whitesmoke;
    background: #10B981;
    height: 40px;
    padding: 1px 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}