body {
    margin: 0;
    padding: 0px;
    background: #1F2937;
    box-sizing: border-box;
    display: flex;
    
}

.container{
    width: 85vw;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    background: linear-gradient(#1F2937, #10B981);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.heading{
    font-size: 2rem;
}

.heading-part1{
    color: white;
    margin: 0px; 
}
.heading-part2{   
    color: #4ADF86;
    margin-top: 0px;
}

.supporting-text{
    color: #D5D4D8;
    font-size: 1.5rem;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 0px;
    margin-top: -18px;
}

.setting{
     padding: 10px 0;
     font-size: 1.5rem;
}
.passwordSetting{
    color: #D5D4D8;
    margin: 5px 0px;
}

#passwordLength{
    margin-left: 20px;
    outline: none;
}

#symbols, #numbers{
    margin: 20px 10px;
}


#pass-btn{
    border: none;
    font-size: 1.2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: white;
    background: #10B981;
    border-radius: 4px; 
    padding: 8px 12px;
    margin-top: 20px; 
    outline: none;
    cursor: pointer;
}

.password-boxes{
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap; 
    width: 60vw;
    padding-top: 20px;
    border-top: 1px solid #273549;

}


.pbox{
    min-width: 500px;
    height: 40px;
    border: none;
    padding: 5px 8px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;  
    margin: 0px 20px 20px 0px; 
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    text-align: center;
    outline: none;
}



footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background: #10B981;
    height: 40px;
    padding: 1px 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}